.annotation-container {
    clear: both;
    position: relative;
    width: 100%;
    touch-action: auto;
  }
  
  .annotation-container[data-allow-touch="true"] {
    touch-action: pinch-zoom;
  }
  
  .annotation-container:hover .annotation-overlay {
    opacity: 1;
  }
  
  .annotation-img {
    display: block;
    width: 100%;
  }
  
  .annotation-items {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .annotation-target {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }